footer{
    text-align:right;
    background-color:white;
    font-style:italic;
    font-weight: bold
}
body{background-color: hsl(200, 15%, 85%);
    text-align: justify;}
h1{
    text-align:center;
    font-family: sans-serif;
    color:#333333
}
h2{
    text-decoration:underline;
    background-color: hsl(200, 15%, 55%);
    color: hsl(200, 15%, 30%);
    font-size: 200%;
}
h3{
    background-color: hsl(200, 15%, 65%);
    color: hsl(200, 15%, 40%);
    font-size: 130%;
    font-style:italic
}
span.azul{color:blue}
span.azulfuerte{color:blue;
font-weight: bold}

p.claro{background-color:rgb(135, 140, 145);}
div.oscuro{background-color:darkgrey}